<div
  class="wa-single"
  *ngFor="let item of dayWeather.list"
>
  <div class="card" *ngIf="item.dt == dayID">
    <div>
      <div class="data">{{ item.dt | unixConvertor }}</div>
      <div class="d-flex">
        <img
          class="wa-single__thumbnail"
          src='http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png'
          alt='Icon depicting current weather.'
        >
        <div class="card-body">
          <h5 class="card-title">{{ item.weather[0].main }}<a routerLink="/" class="wa-single__btn">Go Back</a></h5>
          <p class="card-text">{{ item.weather[0].description }}</p>
          <div class="wa-single__temp d-flex ">
            <span class="temp">Temperature min: <i>{{ item.temp.min }}</i></span>
            <span class="temp">Temperature max: <i>{{ item.temp.max }}</i></span>
            <span class="temp">Pressure: <i>{{ item.pressure }}</i></span>
            <span class="temp">Humidity: <i>{{ item.humidity }}</i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>