<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Select City</label>
        <select
                class="form-control"
                (change)="selectCity($event.target.value)"
                [(ngModel)]="cityID"
        >
          <option *ngFor="let item of cityList" [value]="item.id">{{ item.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3" *ngFor="let item of weather; let i = index">
      <div class="card">
        <div>
          <div class="data">{{ item.dt | unixConvertor }}</div>
          <img src='http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png' alt='Icon depicting current weather.'>
          <div class="card-body">
            <h5 class="card-title">{{ item.weather[0].main }}</h5>
            <p class="card-text">{{ item.weather[0].description }}</p>
            <span class="temp">Temperature: {{ item.temp.day }}</span>
            <a [routerLink]="['/day', item.dt ]" class="btn btn-link">See More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
