<div class="container wa">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group d-flex wa__select-city">
        <!-- Choose the city start -->
        <label class="d-flex align-items-center">Select city</label>
        <select
          class="form-control"
          (change)="selectCity( $event.target.value )"
          [(ngModel)]="cityID"
        >
          <option
            *ngFor="let item of cityList"
            [value]="item.id"
          >
            {{ item.name }}</option>
        </select>
        <!-- Choose the city end -->
      </div>
    </div>
  </div>
  <div class="row">
    <!--Shows weather data start-->
    <div
      class="col-md-3"
      *ngFor="let item of weather.list;
       let i = index"
    >
      <div class="card wa__post">
        <div>
          <div class="wa__post__date">{{ item.dt | unixConvertor }}</div>
          <img src='http://openweathermap.org/img/w/{{ item.weather[0].icon }}.png' alt='Icon depicting current weather.'>
          <div class="card-body">
            <h5 class="card-title">{{ item.weather[0].main }}</h5>
            <p class="card-text">{{ item.weather[0].description }}</p>
            <span class="temp">Temperature: <i>{{ item.temp.day }}</i></span>
            <a [routerLink]="['/day', item.dt ]" class="wa__post__btn">See More</a>
          </div>
        </div>
      </div>
    </div>
    <!--Shows weather data end-->
  </div>
</div>
